h3{
    margin: 0px;
}

.titre{
    color: var(--rose-marron);
}

.div-image{
    background-size: cover;
    background-repeat: no-repeat;
    //border: 2px solid blue;
    height: 100%;
    min-height: 200px;
}


@media(max-width: 767px){
    .div-image{
        order: 2;
    }

    .div-texte{
        order: 1;
    }
}