<app-espace-petit></app-espace-petit>

<div class="div-grid-col-5-footer">

    <div class="div-presentation">

        <img src="images/images-menu/subnav-chiffres.jpg" width="100%" alt="">
        
        <p>
            L'objectif de l'association est de faire découvrir les métiers passionnants d'ingénieures et techniciennes.
        </p>
        
        <button mat-flat-button routerLink="association">En savoir plus</button>

    </div>


    <div class="div-grid-col-1">
        <div>
            <strong>L'association</strong>
        </div>

        <div>
            <a routerLink="">Présentation</a>
        </div>

        <div>
            <a routerLink="">Nos actions</a>
        </div>

        <div>
            <a routerLink="">Délégations régionales</a>
        </div>

        <div>
            <a routerLink="">Délégations internationales</a>
        </div>

        <div>
            <a routerLink="">Partenaires</a>
        </div>

        <div>
            <a routerLink="">Réseau éducatif</a>
        </div>

        <div>
            <a routerLink="">Actualités</a>
        </div>
        
    </div>


    <div class="div-grid-col-1">
        <div>
            <strong>Espace presse</strong>
        </div>

        <div>
            <a routerLink="">Contact</a>
        </div>

        <div>
            <a routerLink="">Communiqués</a>
        </div>

    </div>


    <div class="div-grid-col-1">
        <div>
            <strong>Nous contacter</strong>
        </div>

        <div>
            <span>
                Elles bougent
                Archipel Vinci
                1973 bd de la Défense
                92000 Nanterre
            </span>
        </div>

        <div>
            <span>
                Tél. 06 78 02 98 11
            </span>
        </div>

        <div>
            <hr>
        </div>

        <div>
            <a routerLink="">Formulaire de contact</a>
        </div>

        <div>
            <a routerLink="">Faire un don</a>
        </div>

    </div>



    <div class="div-grid-col-1">
        <div>
            <strong>Nous suivre</strong>
        </div>

        <div>
            <a routerLink="">Tik tok</a>
        </div>

        <div>
            <a routerLink="">Linkedin</a>
        </div>

    </div>

</div>