mat-toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 20;
}

mat-toolbar img{
    height: 20px;
    display: block;
}

a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}