video{
    display: block;
    width: 95%;
    margin: auto;
    border-radius: 30px;
}


.div-bilan-chiffres{
    background-color: var(--rose-claire);
    padding: 20px;
}

.tire-div-bilan-chiffres{
    color: var(--rose-marron);
    font-size: 36px;
    line-height: 1;
    margin-top: 5px;
}

.div-chiffres-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.titre-chiffre-grid{
    font-size: 60px;
    font-weight: 900;
    color: var(--rose-fonce);
}

.p-chiffre-grid{
    font-weight: bold;
    font-size: 18px;
}

.p-presentation{
    line-height: 1.5;
}

.div-container-actualite{
    background-color: var(--vert-clair);
}

.titreActualite{
    text-align: center;
}
.divContainerCarroussel{

    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    //border: 2px solid rebeccapurple;

}


.divCarrousselDesPartenaires{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 80%;
    margin: auto;
    //border: 2px solid blue;
    animation: animationCarroussel 5s linear infinite;;
}


.divCarrousselDesPartenaires img{
    width: auto;  
    height: 100px;
    border-radius: 30px;
}


@keyframes animationCarroussel{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}