.div-component{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr auto;
    background-color: var(--rose-fonce);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 100%;
}


.item-img{  
    //height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-texte{
    color: var(--blanc);
    text-align: center;
    font-weight: 500;
    padding: 0px 30px;
    //border: 2px solid green;
}



.item-bouton{

    justify-self: center; // marche 
    height: 100%;
    align-self: flex-end; // ne marche pas. pq ? pourtant il ya de la place en bas.
    
    //border: 2px solid goldenrod;
}