.div-grid-col-1{
    padding: 5px;
}


.div-grid-col-1 a{
    width: 100%;
}


.div-img-background{

    width: 100%;
    aspect-ratio: 2/1;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border-radius: 12px;
    border: 2px solid whitesmoke;  
    
}

