// Couleurs principales

$rose-principal: #dd0165;
$rose-secondaire: #ffd7e9;
$rose-tertiaire: #7a0137;

$blanc: #ffffff;
$noir: #000000;


// Couleurs utilitaires
$succes: #198754;
$warning: #e98f00;
$danger: #dc3545;