// Grid Css globale :
[class*="div-grid-col"]{
    gap: 10px;
    margin: 15px;
    margin-inline: 0px;
}


// Css pour mobiles (par défaut) :

.div-grid-col-1{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.div-grid-col-2,
.div-grid-col-3,
.div-grid-col-4,
.div-grid-col-5,
.div-grid-col-6,
.div-grid-mobile,
.div-grid-col-2-42
{
    display: grid;
    grid-template-columns: 1fr;
}


.div-grid-col-2-fixe{

    display: grid;
    grid-template-columns: 1fr 1fr;

}


.div-grid-col-2-2{
    display: grid;
    grid-template-columns: 1fr 6fr;
}


.div-grid-col-2-petit-fixe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}


.div-grid-col-5-footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.div-grid-col-5-footer .div-presentation {

    grid-column: 1 / -1;

}


 .div-grid-col-2-5-1{

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}


// Css pour tablettes 
@media(min-width: 768px) {
    // Css pour mobiles (par défaut)

    .div-grid-col-1{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .div-grid-col-2,
    .div-grid-col-3,
    .div-grid-col-4,
    .div-grid-col-5,
    .div-grid-col-6,
    .div-grid-mobile,
    .div-grid-col-2-42
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .div-grid-col-2-2{
        display: grid;
        grid-template-columns: 1fr 6fr;
    }


     .div-grid-col-2-petit-fixe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: auto;
    }

    .div-grid-col-2-5-1{

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }


}





// Css pour écrans
@media(min-width: 1020px){

    .div-grid-col-1{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .div-grid-col-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .div-grid-col-2-2{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .div-grid-col-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .div-grid-col-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .div-grid-col-2-42{
        display: grid;
        grid-template-columns: 4fr 2fr;
        background-color: var(--rose-claire);
    }


    .div-grid-col-2-petit-fixe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 40%;
        margin: auto;
    }


    .div-grid-col-5-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
        gap: 20px;
        padding: 15px;
        margin: 0px;
    }


    .div-grid-col-5-footer .div-presentation {

        grid-column: auto;
        width: 80%;
        margin: auto;
        margin-right: 5vw;
    }


    .div-grid-col-5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }


    .div-grid-col-6{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    

    .div-grid-col-2-5-1{

        display: grid;
        grid-template-columns: 5fr 1fr;

    }



}

