// Css par défaut pour mobiles 
main{
    font-size: 20px;
}


// Css pour tablettes
@media(min-width: 768px) {
    main{
        font-size: 18px;
    }
}


// Css pour grands écrans
@media(min-width: 1020px){
    main{
        font-size: 14px;
    }
}