div{
    background-color: rgb(249, 249, 249);
    width: 99vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    padding-top: 20px;
    padding-bottom: 20px;
}


h2{
    text-align: center;
}