.div-menu-complet{
    position: fixed;
    top: 0px;
    z-index: 1000000000;
    box-shadow: var(--mat-sys-level2);
}

.div-grid-menu-col-9{

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 40px;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    gap: 10px;
    padding: 30px;
    //border: 2px solid blue;
}

.div-grid-menu-col-9 div{
    //border: 2px solid rgb(16, 163, 34);
}

.div-logo{
    margin-right: 5vh;
}


.div-sous-menu-principal{
    display: grid;
    grid-template-columns: 1.1fr 2fr 1.1fr;
    background-color: white;
    padding: 15px;
    gap: 20px;
}


.div-presentation-rose{
    background-color: var(--rose-claire);
    padding: 12px;
}

.titres-images{
    font-weight: bold;
}

.border-radius{
    border-radius: 15px;
}