<div class="div-containeur-complet-menu-mobile">

    <div class="div-grid-menu-mobile">

        <div>
            <a routerLink="">
                <img src="/logos/logo-ellesbougent.svg" width="100%">
            </a>         
        </div>


        <div>
            <a routerLink="">
                <img src="/logos/20ans.png" class="logo-20-ans">
            </a>
        </div>


        <div>
            <button mat-icon-button routerLink="recherche">
                <mat-icon>
                    search
                </mat-icon>
            </button>
        </div>


        <div>
            <button mat-icon-button routerLink="compte/connection">
                <mat-icon>
                    account_circle
                </mat-icon>
            </button>
        </div>

        

        <div>

            <button mat-icon-button (click)="idDuMenuPourEnfant2.toggle()">

                <mat-icon>
                    menu
                </mat-icon>
                
            </button>
            
        </div>

    </div>

</div>


