<div class="div-grid-col-2">

    <div class="div-texte">

        <h3 class="titre">
            {{titre}}
        </h3>

        <br>
        <p [innerHTML]="description">
            
        </p>

        <!--Le if() sert à gerer le cas ou il n ya pas de boutton à
        à afficher comme pour la page association/missions -->
         
        @if (titreBouton != "") {
            <br><br>
            <button mat-stroked-button routerLink="{{lienBouton}}">
                {{titreBouton}}
            </button>

        }

        @if (titreBouton2 != "") {

            &nbsp;
            <button mat-stroked-button routerLink="{{lienBouton2}}">
                {{titreBouton2}}
            </button>

        }

    </div>

    <div class="div-image"
    
    [ngStyle]= 
   
    "{
        'background-image' : 'url(' + cheminImage + ')'
    }" 
    >

    </div>

</div>