h3{
    margin: 0px;
}

.titre{
    color: var(--rose-marron);
}

.div-grid-col-2{
    width: 100%;
}

.div-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 200px;
}