<div class="div-grid-col-2">

    <div class="div-texte">

        <h3 class="titre">
            {{titre}}
        </h3>

        <p>
            {{description}}
        </p>

        <!--Le if() sert à gerer le cas ou il n ya pas de boutton à
        à afficher comme pour la page association/missions -->
         
        @if (titreBouton != "") {

            <button mat-stroked-button routerLink="{{lienBouton}}">
                {{titreBouton}}
            </button>

        }

    </div>

    <div class="div-image"
    
    [ngStyle]= 
   
    "{
        'background-image' : 'url(' + cheminImage + ')'
    }" 
    >

    </div>

</div>